{% extends 'base.html' %}

{% block pagecontent %}
<div class="container-fluid">

<h4>Working on:</h4>
<br></br>
<div class="row">
  
  
  {% if subtasks %}
  {% for subtask in subtasks %}
  <div class="col-lg-6 mb-4">
        <div class="card bg-info text-white shadow">
            <div class="card-body">
              <a href="{% url  'DetailTasks' subtask.sub_task_list.id %}">
              {{ subtask.id }}</a><br>
              {{ subtask.sub_task }}<br>
                <div class="text-white-50 small">#4e73df</div>
            </div>
        </div>
      </div>
        {% endfor %}
        {% else %}
        <p>No subtasks with State = 3 found.</p>
        {% endif %}
  
</div>
</div>

<script>
  // Verificar si el navegador admite la API de Notificaciones
if ("Notification" in window) {
  // Pedir permisos para mostrar notificaciones
  Notification.requestPermission().then((permission) => {
    if (permission === "granted") {
      // Crear y mostrar la notificación
      const notification = new Notification("Título de la notificación", {
        body: "Contenido de la notificación",
        icon: "url/a/una/imagen.png", // Puedes proporcionar una URL de imagen opcional
      });

      // Manejar clics en la notificación
      notification.onclick = () => {
        // Acción a realizar cuando se hace clic en la notificación
        console.log("Notificación clicada");
      };
    }
  });
}

</script>
  {% endblock %}