{% extends 'base.html' %}

{% block pagecontent %}
<div class="container-fluid">

  <!-- Agrega este botón en tu plantilla -->
<a type="button" class="btn"  onclick="refreshPage()"><i class="fas fa-sharp fa-solid fa-redo "></i></a>


<!-- Agrega este script JavaScript en tu plantilla -->
<script>
    function refreshPage() {
        location.reload();
    }
</script>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="{% url  'CreateTask' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Nueva</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        {% for task  in  prueba %}
        <div class="col-xl-3 col-md-4 mb-4">

          {% if task.deadline %}
            {% if task.time_difference > 0 %}
          <div class="card border-left-primary shadow h-100 py-2">
            {% else %}
          <div class="card border-left-danger shadow h-100 py-2">
            {% endif %}
          {% endif %}
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      <a href="{% url  'DetailTasks' task.id %}">{{ task.task_name }}</a></div>
                  <div class="h4 mb-0 font-weight-bold text-gray-800">Tareas: {{ task.subtask_closed_count }}/{{ task.subtask_count }} </div>
                  {{ task.percentage_closed_subtasks }}%
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar" style="width: {{ task.percentage_closed_subtasks }}%" aria-valuenow="{{ task.percentage_closed_subtasks }}" aria-valuemin="0" aria-valuemax="100"></div>
                        <!-- <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div> -->
                    </div>
                </div>

                  <!-- deadline test  -->
                  <!-- {% if task.deadline %}
                    {% if task.time_difference > 0 %}
                      <p>Falta {{ task.time_difference_format }} para que se cumpla el plazo. </p> 
                      <p>{{ task.deadline }}</p>
                    {% else %}
                      <p>El plazo ha pasado. {{ task.deadline }}</p>
                    {% endif %}
                  {% else %}
                    <p>La tarea no tiene fecha de vencimiento.</p>
                  {% endif %} -->

                  </div>
                  <div class="col-auto">
                    {% if task.task_type == 'list' %}
                    <i class="fas fa-sharp fa-solid fa-list fa-2x text-gray-300"></i>      
                      {% else %}
                        <i class="fas fa-sharp fa-solid fa-hotel fa-2x text-gray-300"></i>  
                        {% endif %}    
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!--<button>
          <a href="{% url  'DeleteTask' task.id %}">Eliminar</a>
        </button> -->
        {% endfor %}
    </div>
<!-- paginacion-->
    <div class="d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <!--<li class="page-item"><a class="page-link" href="?page=1">FIRST</a></li>-->
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% endif %}
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          <!--<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>-->
          {% endif %}
        </ul>
      </nav>
    </div>
    <div class="d-flex justify-content-center">
    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    </div>
  </div>
  
  {% endblock %}